{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="home-content">
{% for content in contents %}
    {% if content.name == "main-title" %}
        <h1>{{ content.text }}</h1>
    {% endif %}
    {% if content.name == "main-text" %}
        <p>{{ content.text }}</p>
    {% endif %}
{% endfor %}
</div>
{% endblock %}
